<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>SoundList</title>
  <link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.10.1.custom.css">
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <script>
    var globalConfig = {
      isDev: <%= locals[:isDev] %>
     ,soundcloud: <%= locals[:soundcloud] %>
    }
  </script>
  <script data-main="js/main" src="js/vendor/require.js"></script>
</head>
<body>
  <div><a href='javascript: 
    var SOUNDLIST_SC_DATA=<%= locals[:soundcloud] %>;
    var SOUNDLIST_HOST="<%= request.host_with_port %>";
    (function(d){ var js, ref = d.getElementsByTagName("script")[0];
     js = d.createElement("script"); js.async = true;
     js.src = "//<%= request.host_with_port %>/js/bookmarklet.js";
     ref.parentNode.insertBefore(js, ref)
   }(document))'>Bookmark this!</a></div>
</body>
</html>
